<<<<<<< HEAD
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Inicio de Header*/

header{
    padding: 30px 0 30px 0;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
    font-size: 1vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
}

nav a:hover{
    color: #0170B9;
    line-height: normal ;
}

nav li{

    list-style-type: none;
    width: 10%;
    text-align: center;
    transition: all 0.5;
    border-bottom: 3px solid transparent;
    transition: all 0.9s ease-out;

}
nav li:hover{
  
   border-bottom: 3px solid #0170B9;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
=======
>>>>>>> carpineria
