*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-image: url(/assets/img/Pedagogia/imgfondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(167, 167, 167, 0.479);
    margin-left: 5%;
    margin-right: 5%;
}

main img {
    border-radius: 20px;
}

.contenedor {
    padding: 60px 0;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {

    height: 400px;
    background: #7F7FD5;  
    background: -webkit-linear-gradient(to right, #91EAE4, hsla(219, 67%, 72%, 0.726), hsla(240, 51%, 67%, 0.671)), url(/assets/img/Pedagogia/imgfondo.jpeg); 
    background: linear-gradient(to right, #91EAE4, hsla(219, 67%, 72%, 0.726), hsla(240, 51%, 67%, 0.671)), url(/assets/img/Pedagogia/imgfondo.jpeg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    flex-direction: column;
}

.textos-header h1 {
    padding: 10px 0 0 10px;
    font-size: 70px;
    color: #fff;
}

.textos-header h2 {
    padding: 0 0 0 10px;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-size: 20px;
    color: black;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 35px;
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 35px;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 70%;
    height: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
    width: 120px;
    height: 130px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card {
    width: 70%;
    color: #fff;
    h4{
       margin: 0;
    }
    p{
       margin: 0;
       padding: 0;
    }
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

.cards .card > .contenido-texto-card h4 {
    font-size: 20px;
    text-align: center;
}

.about-services {
    padding-bottom: 30px;
    opacity: 0.9;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: left;
}

.content-foo h4 {
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid #af20d3;
}

.content-foo p {
    color: #f3f3f3;
}

.content-foo a {
    color: #f3f3f3;
    text-decoration: none;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


@media (max-width: 800px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        align-items: center;
    }

    .imagen-about-us, .sobre-nosotros .contenido-textos {
        width: 90%;
    }

    .galeria-port {
        justify-content: center;
    }

    .imagen-port {
        width: 45%;
    }

    .cards .card {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .servicio-cont {
        flex-direction: column;
    }

    .servicio-ind {
        width: 90%;
    }
}

@media (max-width: 800px) {
    header .textos-header h1 {
        font-size: 8vw;
    }

    header .textos-header h2 {
        font-size: 5vw;
    }

    .imagen-port {
        width: 100%;
        margin-bottom: 20px;
    }

    .cards .card {
        width: 100%;
        flex-direction: column;
    }

    .servicio-ind img {
        width: 80%;
    }

    footer .contenedor-footer {
        flex-direction: column;
        align-items: center;
    }
}

