*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    position: sticky;
    top: 0.1px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 2, 37);
    padding: 15px;
    border-bottom: solid 1px black;
    div{
        img{
            border: solid 5px black;
            border-radius: 50px;
            height: 100px; width: 100px;
        }
    }
    nav{
        margin: 0;
        padding: 0;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
            margin-top: 2%;
            li{
                padding: 10px;
                list-style-type: none;
                font-weight: bold;
                a{
                    display: flex;
                    color: white;
                    text-decoration: none;
                    transition: all 0.5s;
                    padding: 1px;
                    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    i{
                        padding: 5px;
                    }
                }
                a:hover{
                    color: black;
                    padding: 5px;
                    background-color: white;
                    border-radius: 5px;
                    font-weight:bolder;
                }
            }  
        }
    }
}

.main-article{
    position: relative;
    display: flex;
    h2{
        flex-wrap: wrap;
        top: 18%;
        right: 5%;
        font-size: 500%;
        color: black;
        position: absolute;
        -webkit-text-stroke: 0.2vh white ;
        font-family: 'Titulo';
        padding: 1%;
        margin: 0;
    }
    div{
        .etq{
            position: absolute;
            width: 20%;
            height: 20%;
            right: 6%;
            top: 35%;
            border-radius: 10%;
        }
    }
    div{
        .fondo-p{
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}
@font-face {
    font-family: 'Titulo';
    src: url('/assets/font/albanileria/font/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.main-datos{
    display: flex;
    .main-datos-a1{
        width: 50%;
        background-color: rgb(9, 16, 51);
        color: white;
        padding: 20px;
        text-align: center;
        a{
            text-decoration: none;
            padding: 2%;
            color: white;
            border-radius: 1rem;
            transition: all 0.8s;
        }    
        a:hover{
            color: green;
            background-color: white;
            border-radius: 1rem;
            font-weight: bolder;
        }
    }
    .main-datos-a2{
        width: 50%;
        background-color: rgb(8, 37, 17);
        color: white;
        padding: 20px;
        text-align: center;
        a{
            transition: all 0.8s;
            text-decoration: none;
        }    
        a:hover{
            text-decoration: underline;
        }
    }
}
.carrusel{
    h5, p{
        color: black;
        font-size: 200%;
    }
}
footer{
    background-color: black;
    color: white;
    .derechos{
        position: sticky;
        top: 0.1px;
        z-index: 1;
        margin: 0;
        width: 100%;
        padding: 1vh;
        text-align: center;
        font-weight: bolder;
    }
    
}
.perfiles{
    display: flex;
    article{
        text-align: center;
        margin: 1%;
        padding: 1%;
        background-color: rgba(3, 7, 4, 0.8);
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 2rem;
        box-shadow: black 4px 4px 15px;
        h2{
            margin: 2%;
        }
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            font-weight: bolder;
            color: green;
        }
        div{
            img{
                width: 60%;
                height: 40%;
                padding: 4%;
                border-radius: 2rem;
                transition: all 0.5s;
            }
            img:hover{
                scale: 1.1;
            }
        }
    }
}
.estudiantes{
    text-align: center;
    h2{
        flex-wrap: wrap;
        opacity: 0.8;
        color: rgb(7, 7, 7);
        font-weight: bolder;
        text-decoration: underline;
        padding: 1%;
        margin: 1%;
        font-size: 50px;
    }
}
.conocimientos{
    h2{
        flex-wrap: wrap;
        opacity: 0.8;
        color: rgb(7, 7, 7);
        text-decoration: underline;
        text-align: center;
        font-weight: bolder;
        font-size: 50px;
        padding: 1%;
        margin: 1%;
    }
}
.trabajos{
    h2{
        flex-wrap: wrap;
        opacity: 0.8;
        color: rgb(7, 7, 7);
        padding: 1%;
        margin: 1%;
        text-align: center;
        font-weight: bolder;
        font-size: 400%;
        text-decoration: underline;
    }
    section{
        padding: 2%;
        width: 100%;
    }
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/assets/img/albanileria/img/fondooo.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.teoria{
    display: flex;
    article{
        background-color: rgba(255, 255, 255, 0.719);
        align-items: center;
        width: 95%;
        margin: 2%;
        padding: 2%;
        border-radius: 1rem;
    }
    h3{
        font-weight: bolder;
        text-align: center;
        flex-wrap: wrap;
    }
}
.teoria-sistema{
    article{
        width: 95%;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.719);
        margin: 2%;
        padding: 2%;
        border-radius: 1rem;    
    }
    h3{
        font-weight: bolder;
        flex-wrap: wrap;
        text-align: center;
    }
    ul{
        width: 100%;
        margin: 1%;
        padding: 1%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li{
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-size: 150%;
            p{
                margin: 0;
                padding: 0;
            }
        }
    }
}
.trabajos-a{
    h2{
        opacity: 0.8;
        color: rgb(7, 7, 7);
        text-decoration: underline;
        text-align: center;
        padding: 1%;
        margin: 1%;
        font-weight: bolder;
        font-size: 50px;
    }
    .carrusel-a{
        padding: 2%; 
        width: 100%;           
    }
}
@media (max-width:900px){
    header{
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        nav{
            ul{
                display: inline-flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }
    .main-article{
        section{
            h2{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 4rem;
            }
            div{
                .etq{
                    top: 50%;
                }
            }
        }
    }
    .main-datos{
        display: flex;
        flex-direction: column;
        .main-datos-a1{
            width: 100%;
            flex-wrap: wrap;
        }
        .main-datos-a2{
            width: 100%;
            flex-wrap: wrap;
        }
    }
    .carrusel{
        h5, p{
            text-align: center;
            font-size: 1rem;
        }
    }
    .teoria{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .teoria-sistema{
        width: 100%;
    }
    .perfiles{
        display: flex;
        align-items: center;
        flex-direction: column;
        article{
            width: 70%;
            h2{
                flex-wrap: wrap;
                font-size: 3rem;
            }
            p{
                flex-wrap: wrap;
                font-size: 1.5rem;
            }
            div{
                img{
                    width: 30%;
                }
            }
        }
    }
}

@media(max-width: 550px){
    .main-article{
        section{
            h2{
                font-size: 3rem;
            }
        }
    }
}