@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
}

.carousel-inner img {
    width: 100%;
    height: auto; 
    max-height: 80vh; 
    object-fit: cover; 
    object-position: center; 
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; 
}

.header-content h1 {
    font-size: 8vw; 
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out; 
}

.header-content h1:hover {
    color: rgba(255, 255, 255, 1); 
    transform: scale(1.05); 
}

.header-content p {
    font-size: 4vw; 
    color: #c5c5c5;
    margin-bottom: 25px;
}

.button-container {
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 2vw 5vw; 
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: #ebad8d;
}

@media (max-width: 830px) {
    .header-content h1 {
        font-size: 6vw; 
    }

    .header-content p {
        font-size: 5vw; 
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 8vw; 
    }

    .header-content p {
        font-size: 6vw; 
    }
}

.coffee { 
    margin: 0;
    padding: 100px 0;
    background-color: #f5f5f7;
    position: relative;
    text-align: center;
}

.coffee h2 {
    font-size: 50px;
    line-height: 1.2;
    color: #2f2f33;
    text-transform: uppercase;
    padding: 0 20px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.txt-p {
    font-size: 25px;
    color: #555;
    padding: 0 220px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8;
}

.coffee-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.coffee-1 {
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.coffee-1:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.coffee-1 img {
    width: 100%;
    max-width: 300px;
    height: 170px;
    object-fit: cover;
    margin: 0 auto 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.coffee-1 img:hover {
    transform: scale(1.1);
}

.coffee-1 h4 {
    font-size: 30px;
    color: #2f2f33;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.coffee .definicion{
    font-size: 20px;
}
.parrafos {
    font-size: 20px;
    color: #777;
    line-height: 1.8;
    margin-top: 10px;
    padding: 0 15px;
    text-align: center;
}

.button {
    background-color: #ce967b;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #b07b63;
    transform: translateY(-3px);
}

@media (max-width: 830px) {
    .txt-p {
        padding: 0 5vw; 
        font-size: 70px; 
    }

    .coffee-content h2 {
        font-size: 80px; 
    }

    .coffee-content p {
        font-size: 70px; 
        text-align: justify;
    }

    .coffee-group {
        flex-direction: column;
        gap: 4vw; 
    }

    .coffee-1 {
        max-width: 100%;
    }

    .coffee-1 h4 {
        font-size: 80px; 
    }

    .coffee-1 .parrafos {
        font-size: 70px; 
        text-align: justify;
    }
}


@media (max-width: 480px) {
    .txt-p {
        padding: 0 3vw;
        font-size: 40px; 
    }

    .coffee-content h2 {
        font-size: 50px;
    }

    .coffee-content p {
        font-size: 40px;
    }

    .coffee-1 h4 {
        font-size: 50px;
    }

    .coffee-1 .parrafos {
        font-size: 50px;
    }
}

.services {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ), url('/assets/img/trabajosocial/CONQUITO.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 20px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    overflow: hidden; 
}

.services::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent 70%);
    animation: pulse 5s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.services-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.services-content h2 {
    font-size: 50px;
    line-height: 1.2;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6); 
}

.services-content p {
    font-size: 20px;
    color: #d1d1d1;
    margin-bottom: 40px;
    padding: 0 30px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); 
}

.services-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

@media (max-width: 830px) {
    .services h2 {
        font-size: 6vw; 
    }

    .services p {
        font-size: 4vw; 
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .services h2 {
        font-size: 50px; 
    }

    .services p {
        font-size: 40px; 
        text-align: justify;
    }
}

.general {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    margin: 0;
}

.general-1 {
    width: 50%;
    padding: 60px 40px;
    background-color: #f5f6f8;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.general-1:hover {
    transform: translateY(-2px);
}

.general-1 h2 {
    font-size: 35px;
    line-height: 1.2;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}

.general-1 p {
    font-size: 20px;
    color: #555;
    margin: 20px 0 40px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}

.general-2,
.general-3 {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    transition: transform 0.4s;
}

.general-2:hover,
.general-3:hover {
    transform: scale(1.03);
}

.general-2 {
    background-image: url('/assets/img/trabajosocial/frutas.jpg');
}

.general-3 {
    background-image: url('/assets/img/trabajosocial/paz.jpg');
}

.text-overlay {
    position: absolute;
    color: white;
    font-size: 28px;
    z-index: 2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transition: opacity 0.3s;
}

.general-2:hover .text-overlay,
.general-3:hover .text-overlay {
    opacity: 1;
}

@media (max-width: 830px) {
    .general {
        flex-direction: column;
    }

    .general-1,
    .general-2,
    .general-3 {
        width: 100%;
        margin-bottom: 30px;
    }

    .general-1 {
        padding: 40px 20px;
    }

    .general-1 h2 {
        font-size: 6vw; 
    }

    .general-1 p {
        font-size: 4.5vw; 
        text-align: justify;
    }

    .general-2,
    .general-3 {
        min-height: 40vh; 
    }
}

@media (max-width: 480px) {
    .general-1 h2 {
        font-size: 50px; 
    }

    .general-1 p {
        font-size: 40px; 
    }

    .text-overlay {
        font-size: 35px; 
    }
}


.blog {
    padding: 100px 0;
    text-align: center;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

.blogxd {
    font-weight: bold;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.blog-1 {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

.blog-1:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.blog-1 img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
}

.blog-1:hover img {
    opacity: 0.9;
}

.blog-1 h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.blog-1 p {
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}

.blog-1 .foto {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-1 .foto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
    .blog .blogxd {
        font-size: 6.5vw; 
    }

    .blog-content {
        flex-direction: column;
        align-items: center;
    }

    .blog-1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .blog-1 h3 {
        font-size: 6vw; 
    }

    .blog-1 p {
        font-size: 4.5vw; 
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .blog .blogxd {
        font-size: 60px; 
    }

    .blog-1 h3 {
        font-size: 50px; 
    }

    .blog-1 p {
        font-size: 40px; 
    }
}

.video {
    margin: 20px auto;
    max-width: 800px;
    border: 2px solid #333; 
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f9f9f9;
}

.video iframe {
    width: 100%;
    height: 400px; 
    border: none;
    display: block; 
}

.video .video-description {
    padding: 15px;
    font-size: 16px; 
    color: #333;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc; 
    margin-bottom: -5px;
}

.video .video-description h2 {
    font-size: 22px;
    color: #333; 
    margin: 0 0 10px;
}

.video .video-links {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.video .video-links a {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px; 
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s, transform 0.2s;
}

.video .video-links a:hover {
    background-color: #555; 
    transform: scale(1.03); 
}




.footer {
    padding: 60px 0;
    background-color: #444;
    color: white;
    border-top: 4px solid #ffcc00;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    max-width: 250px;
    margin-bottom: 20px;
}

.link h3 {
    font-size: 22px;
    color: #ffcc00;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

.link a {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

.link a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.link i {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffcc00;
}

footer svg {
    width: 30px;
    height: auto;
    fill: #ffcc00;
    transition: fill 0.3s ease;
}

footer svg:hover {
    fill: #fff;
}

@media (max-width: 991px) {
    .footer {
        padding: 4vw 2vw; 
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .link {
        align-items: center;
        text-align: center;
        padding: 2vw 0;
        max-width: 100%;
    }

    .link h3 {
        border-bottom: none;
        margin-bottom: 1vw;
        font-size: 6vw; 
    }

    .link a {
        font-size: 4.5vw; 
        text-align: justify;
    }

    footer svg {
        margin-top: 2vw;
        width: 9vw; 
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 5vw 3vw; 
    }

    .link {
        padding: 2vw 0;
        font-size: 30px;
    }

    .link h3 {
        font-size:50px; 
    }

    .link a {
        font-size: 30px; 
        text-align: justify;
    }

    .link i {
        font-size: 30px; 
    }

    .link ul li svg {
        width: 10vw; 
    }
}


